.footer {
  padding: 2.5rem 0;
}

.container {
  display: flex;
  gap: 2.5rem;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.largeColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  color: #000;
  font-size: var(--font-size-base2);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.link {
  color: #666;
  text-decoration: none;
  font-size: var(--font-size-sm);
  margin-bottom: 0.7rem;
}

.link:hover {
  color: var(--black);
}

.text {
  color: var(--grey);
  font-size: var(--font-size-sm);
  padding-bottom: 0.7rem;
}

.subscribe {
  display: flex;
  gap: 0.7rem;
}

.input {
  flex: 1;
  padding: 0.7rem 1rem;
  border: 1px solid var(--grey);
  border-radius: 0.7rem;
  font-size: var(--font-size-sm);
}

.input:hover {
  border: 1px solid var(--blue);
}

.socialText {
  color: var(--grey);
  font-size: var(--font-size-sm);
  margin-top: 0.7rem;
}

.bottom {
  display: flex;
  gap: 1rem;
  color: var(--grey);
  font-size: var(--font-size-sm);
}

.dev:hover {
  color: var(--blue);
}

@media (max-width: 1024px) {
  .container {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: var(--font-size-xl);
  }

  .link {
    font-size: var(--font-size-lg);
  }

  .footer {
    padding: 1rem 0;
  }

  .text {
    font-size: var(--font-size-lg);
  }

  .input {
    font-size: var(--font-size-lg);
  }

  .button {
    font-size: var(--font-size-lg);
  }

  .socialText {
    font-size: var(--font-size-lg);
  }

  .socialBar svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .socialBar {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .bottom {
    font-size: var(--font-size-lg);
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    justify-content: start;
    text-align: start;
    gap: 1.5rem;
    padding: 0 1rem;
  }

  .largeColumn {
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.3rem;
  }

  .footer {
    padding: 1rem 0;
  }

  .text {
    font-size: 1.3rem;
  }

  .input {
    font-size: 1.3rem;
  }

  .button {
    font-size: 1.3rem;
  }

  .socialText {
    font-size: 1.3rem;
  }

  .socialBar {
    justify-content: start;
    margin-bottom: 0;
  }

  .bottom {
    font-size: 1.3rem;
    display: grid;
    justify-content: start;
    margin: 0 1rem;
  }

  .subscribe {
    display: grid;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.3rem;
  }

  .link {
    font-size: 1.1rem;
  }

  .footer {
    padding: 1rem 0;
  }

  .text {
    font-size: 1.1rem;
  }

  .input {
    font-size: 1.1rem;
  }

  .button {
    font-size: 1.1rem;
  }

  .socialText {
    font-size: 1.1rem;
  }

  .bottom {
    font-size: 0.9rem;
  }
}
