.newsCard {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.newsImageContainer {
  flex: 1;
  position: relative;
  min-width: 40%;
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsCategory {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--orange);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: var(--font-size-sm);
  z-index: 2;
}

.newsInfo {
  flex: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 5vw;
  overflow: hidden;
  z-index: 1;
}

.newsInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  background-color: var(--blue);
  height: 100%;
  z-index: -1;
  transition: left 0.5s ease-out;
}

.newsCard:hover .newsInfo::before {
  left: 0;
}

.newsDate {
  font-size: 10px;
  color: var(--grey-dark);
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.newsTitle {
  font-size: var(--font-size-base2);
  font-weight: 500;
  transition: color 0.3s ease;
}

.newsCard:hover .newsDate,
.newsCard:hover .newsTitle {
  color: white;
}

.hidePart {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 30%;
  right: 5%;
  width: 44px;
  height: 44px;
  border: 0.5px solid var(--white);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  transform: translateY(10px);
}

.newsCard:hover .hidePart {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hideIcon {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: var(--white);
  transition: transform 0.5s ease-out;
  transform: rotate(45deg);
}

@media (max-width: 1024px) {
  .newsTitle {
    font-size: 1.3rem;
  }

  .newsDate {
    font-size: 1rem;
  }

  .newsCategory {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .newsTitle {
    font-size: 1.5rem;
  }

  .newsDate {
    font-size: 1rem;
  }

  .newsCategory {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
}
