.accordionSection {
  flex: 1;
  padding: 2.5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.textContent {
  margin-bottom: 3rem;
  color: var(--black-second);
}

.titleFirst {
  margin-bottom: 1.5rem;
}

.accordions {
  width: 100%;
}

.accordion {
  margin-bottom: 1rem;
  border: 1px solid var(--grey);
  border-radius: 13px;
  overflow: hidden;
}

.accordionHeader {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.accordionTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--black-third);
}

.accordionIcon {
  transition: transform 0.3s ease;
  width: 16px;
  height: 16px;
}

.rotate {
  transform: rotate(180deg);
}

.accordionBody {
  padding: 20px;
}

.accordionIconShape {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.greenIcon {
  color: var(--green);
}

.orangeIcon {
  color: var(--orange);
}

.yellowIcon {
  color: var(--yellow);
}

.blueIcon {
  color: var(--blue);
}

@media (max-width: 1440px) {
  .accordionSection {
    padding: 2.5rem;
    padding-top: 3rem;
  }
  .textContent {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1024px) {
  .textContent {
    font-size: var(--font-size-lg);
  }

  .accordionTitle {
    gap: 10px;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }

  .accordionBody {
    font-size: var(--font-size-lg);
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .accordionSection {
    padding: 1rem;
    padding-top: 3rem;
  }

  .textContent {
    font-size: var(--font-size-xl);
  }

  .accordionTitle {
    font-size: var(--font-size-xl);
  }

  .accordionBody {
    font-size: var(--font-size-xl);
  }
}

@media (max-width: 480px) {
}
