.headerMini {
  padding: 1rem;
}

.greyHat {
  background-color: var(--grey);
}

.miniHat {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  justify-self: center;
}

.hatControl {
  justify-self: end;
  display: flex;
  gap: 1.5rem;
}

.eyeMini {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-self: start;
}

.burgerBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.fullscreenMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.accordionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
}

.accordionContent {
  margin-top: 1rem;
  display: grid;
  font-size: var(--font-size-lg);
  color: var(--black-third);
  text-align: center;
  gap: 1rem;
  border: 1px solid var(--white);
  border-radius: 20px;
  padding: 2rem 0;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.hatIcon {
  display: flex;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  color: var(--black-third);
}

.accordionTitle {
  color: var(--black-third);
  margin-right: 5px;
  font-size: var(--font-size-lg);
}

.miniIcon {
  width: 2rem;
  height: 2rem;
  color: black;
}

.xIcon {
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 4px;
  border-radius: 50%;
}

.button {
  font-size: var(--font-size-lg);
  margin-bottom: 1rem;
}

.socialBar {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.socialBar svg {
  color: var(--grey-dark);
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .accordionContent {
    margin-top: 0.5rem;
    padding: 1rem 0;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .accordionHeader {
    margin-bottom: 0.3rem;
  }

  .socialBar svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .accordionTitle {
    font-size: 1rem;
  }

  .socialBar svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  .button {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .miniIcon {
    width: 1.7rem;
    height: 1.7rem;
  }

  .hatControl {
    gap: 0.4rem;
  }

  .accordionContent {
    font-size: 1rem;
    padding: 1rem 0;
  }

  .accordionTitle {
    font-size: 1rem;
  }

  .socialBar svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  .button {
    font-size: var(--font-size-xl);
  }

  .fullscreenMenu {
    gap: 1rem;
    padding: 1rem;
  }
}
