/* header.module.css */
.headerContainer {
  margin: 0 calc(-50vw + 50%);
  border: 2px solid var(--grey-dark);
  border-top: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  max-width: 84.72vw;
  margin: 0 auto;
  min-width: 320px;
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: space-between;
  height: auto;
}

.navContainer,
.searchReplacement {
  flex: 1;
  width: 33.85vw;
  max-width: 650px;
  min-width: 280px;
  margin: 0 20px;
}

.searchReplacement {
  position: relative;
}

@media (max-width: 768px) {
  .navContainer,
  .searchReplacement {
    width: 50vw;
    max-width: none;
  }
}
