.headerContainer {
  margin: 0 calc(-50vw + 50%);
  border: 2px solid var(--grey-dark);
  border-top: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  max-width: 84.72vw;
  margin: 0 auto;
  min-width: 20rem;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  height: auto;
}

.navContainer,
.searchReplacement {
  flex: 1;
  width: 33.85vw;
  margin: 0 rem;
}

.searchReplacement {
  position: relative;
}

.headerMiniPart {
  display: none;
}

@media (max-width: 1920px) {
  .navContainer,
  .searchReplacement {
    width: 33.85vw;
    max-width: 40.625rem;
    min-width: 17.5rem;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .headerContainer {
    display: none;
  }

  .headerMiniPart {
    display: grid;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
