/* header.module.css */
.headerContainer {
  margin: 0 calc(-50vw + 50%);
  border: 1px solid var(--grey-dark);
}

.header {
  max-width: 84.72vw;
  margin: 0 auto;
  min-width: 320px;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  height: auto;
}

.navContainer,
.searchReplacement {
  flex: 1;
  width: 33.85vw;
  max-width: 650px;
  min-width: 280px;
  margin: 0 20px;
}

.searchReplacement {
  position: relative;
}

@media (max-width: 768px) {
  .navContainer,
  .searchReplacement {
    width: 50vw;
    max-width: none;
  }
}

.searchInput {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid var(--grey-dark);
  border-radius: 20px;
  box-sizing: border-box;
}

.searchInput:focus {
  border-color: var(--blue);
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--grey-dark);
}
