.heroContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-out;
  border-radius: 50px 50px 0 0;
  margin: 0 calc(-50vw + 53%);
}

.heroSlider {
  max-width: 84.72vw;
  margin: 0 auto;
  min-width: 20rem;
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 20rem;
  align-items: end;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 7vw;
}

.button {
  padding: 1.25rem 3.75rem;
}

.slideContent {
  z-index: 2;
  padding: 1.25rem;
}

.title {
  font-size: 6.67vw;
  font-weight: medium;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: var(--font-size-md2);
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  gap: 1.9rem;
  z-index: 3;
}

.controlButton {
  border: 1px solid var(--white);
  background-color: transparent;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.controlButton:hover {
  border: none;
  background-color: var(--blue);
  transition: background-color 0.4s ease-in-out;
}

.arrowWrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.arrowLeft {
  transform: rotate(90deg);
}

.arrowRight {
  transform: rotate(-90deg);
}

.controlButton:hover .arrowLeft {
  animation: circleMoveLeft 0.4s ease-in-out;
}

.controlButton:hover .arrowRight {
  animation: circleMoveRight 0.4s ease-in-out;
}

@keyframes circleMoveLeft {
  0% {
    transform: rotate(90deg) translateY(0);
    opacity: 1;
  }
  49% {
    transform: rotate(90deg) translateY(40px);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg) translateY(0);
    opacity: 1;
  }
}

@keyframes circleMoveRight {
  0% {
    transform: rotate(-90deg) translateY(0);
    opacity: 1;
  }
  49% {
    transform: rotate(-90deg) translateY(40px);
    opacity: 0;
  }
  50% {
    transform: rotate(-90deg) translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg) translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .heroContainer {
    margin: 0 1.5rem;
    height: 50rem;
  }

  .controlButton {
    width: 3.5rem;
    height: 3.5rem;
  }

  .title {
    font-size: 4rem;
  }

  .heroSlider {
    max-width: none;
    padding: 0 2rem;
    padding-top: 30rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1rem;
  }

  .controls {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    margin: 0 1rem;
    height: 45rem;
  }

  .controlButton {
    width: 3rem;
    height: 3rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .heroSlider {
    max-width: none;
    padding: 0 2rem;
    padding-top: 27rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .button {
    font-size: 0.8rem;
    padding: 1rem 2.5rem;
  }

  .slideContent {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .controlButton {
    width: 2.5rem;
    height: 2.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .heroSlider {
    padding: 0 2rem;
    padding-top: 26rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .button {
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }

  .slideContent {
    padding: 0;
  }
}
