.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border: 1px solid var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button:hover {
  border-color: var(--blue);
}

.icon {
  color: var(--grey-dark);
  transition: fill 0.2s ease;
  width: 21px;
  height: 21px;
}

.button:hover .icon {
  color: var(--blue);
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .button {
    border: none;
    padding: 8px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }
  .icon {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .button {
    border: none;
    padding: 8px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
