.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border: 1px solid var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button:hover {
  border-color: var(--blue);
}

.icon {
  color: var(--grey-dark);
  transition: fill 0.2s ease;
  width: 21px;
  height: 21px;
}

.button:hover .icon {
  color: var(--blue);
}
