.nav {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%; /* Добавляем полную ширину */
  justify-content: space-between; /* Равномерное распределение */
}

.item {
  position: relative;
  text-align: center;
  flex: 1; /* Каждый элемент занимает равное пространство */
  max-width: max-content; /* Но не больше своего содержимого */
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--black-third);
  font-weight: regular;
  transition: all 0.3s ease;
  padding-left: 19px;
  justify-content: center; /* Центрируем содержимое ссылки */
  width: 100%; /* Занимаем всю доступную ширину */
}

.link:hover {
  color: var(--blue);
  transform: translateX(8px); /* Сдвиг вправо при наведении */
}

.icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all 0.3s ease;
  color: var(--blue);
}

.link:hover .icon {
  opacity: 1;
}

.linkText {
  transition: transform 0.3s ease;
}

/* Уменьшаем размер SVG иконки */
.icon svg {
  width: 100%;
  height: 100%;
}
