.fontSizeBanner {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--black-second);
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 60vw;
  box-sizing: border-box;
  border-bottom: 2px solid var(--grey-dark);
}

.fontletter {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
  color: var(--grey-dark);
  margin-left: 10px;
  cursor: pointer;
}

.fontletter:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.fontletterFirst {
  font-size: var(--font-size-sm);
  font-weight: 300;
}

.fontletterSecond {
  font-size: var(--font-size-base);
  font-weight: 500;
}

.fontletterThird {
  font-size: var(--font-size-base2);
  font-weight: 700;
}

@media (max-width: 1024px) {
  .fontSizeBanner {
    background-color: transparent;
    padding-left: 1rem;
    font-size: 1.3rem;
  }

  .fontletterFirst {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .fontletterSecond {
    font-size: 2rem;
    font-weight: 500;
  }

  .fontletterThird {
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 0.5rem;
  }

  .fontletter {
    margin-left: 1rem;
  }
}

@media (max-width: 480px) {
  .fontSizeBanner {
    background-color: transparent;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .fontletterFirst {
    font-size: 1rem;
    font-weight: 500;
  }

  .fontletterSecond {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .fontletterThird {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 0.5rem;
  }

  .fontletter {
    margin-left: 0.5rem;
  }
}
