.LogoLink {
  display: inline-block;
  width: clamp(40px, 5.52vw, 79.5px);
  min-width: 40px;
  height: auto;
  transition: opacity 0.3s;
}

.Logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}
