/* Базовые стили */
.mapSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  margin: 8vw 4vw;
}

.mapContainer {
  position: relative;
  width: 384px;
  height: 100%;
}

.mapPiece {
  position: absolute;
}

.mapSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.mapContent {
  position: absolute;
  text-align: center;
  pointer-events: none;
}
.mapText {
  color: white;
  display: block;
  width: 100px;
}
.pulseIcon {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  animation: pulse 1.5s infinite;
}

.greenPiece .mapContent {
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.orangePiece .mapContent {
  top: 40%;
  left: 55%;
  transform: translateX(-50%);
}

.yellowPiece .mapContent {
  bottom: 25%;
  left: 75%;
  transform: translateX(-50%);
}

.bluePiece .mapContent {
  top: 42%;
  left: 0;
  transform: translateY(-50%);
}

.bluePiece .mapText {
  color: var(--black-second);
}

.yellowPiece .mapText {
  color: var(--black-third);
}

.greenPiece {
  width: 384px;
  height: 237px;
  top: 0;
  left: 40px;
  color: var(--green);
}

.orangePiece {
  width: 376px;
  height: 227px;
  top: 146px;
  right: 22px;
  color: var(--orange);
}

.yellowPiece {
  width: 237px;
  height: 189px;
  top: 313px;
  left: -12px;
  color: var(--yellow);
}

.bluePiece {
  width: 85px;
  height: 126px;
  top: 491px;
  left: 106px;
  color: var(--blue);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
