.AppContainer {
  max-width: 84.72vw;
  margin: 0 auto;
  min-width: 320px;
}

.appContentHide {
  display: none;
}

.appContainerGrey {
  background-color: var(--grey);
  min-height: 100vh;
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .AppContainer {
    max-width: none;
    margin: 0 auto;
    min-width: none;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
